---
import BaseHead from '../components/BaseHead.astro';
import Footer from '../components/Footer.astro';
import Header from '../components/Header.astro';
import { SITE_DESCRIPTION, SITE_TITLE } from '../consts';
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<div class="nb-container">
				<div class="container-1 shadow-1">
					Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin consequat mattis tellus eu ullamcorper. In mattis consectetur nibh a dapibus. Integer eu purus vel leo porttitor hendrerit. Donec iaculis ipsum eu odio ultricies tempus. Etiam vitae tincidunt tortor, at ornare nibh. Curabitur pellentesque sodales dictum. Quisque dolor nisl, tincidunt ac nulla vitae, pellentesque blandit nisi. Nullam consectetur a mi eget posuere. Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Mauris nunc sapien, viverra a condimentum sed, rutrum a mauris. Quisque enim ante, interdum non felis iaculis, tempus luctus est. Quisque a sodales tellus, et scelerisque nisi. Nunc vitae hendrerit massa. Integer ante magna, vestibulum convallis finibus nec, posuere non elit. Donec ut rutrum metus. Praesent viverra risus massa, non rhoncus ligula molestie sit amet. 
				</div>
			</div>
		</main>
		<Footer />
	</body>
</html>
